.card{

  margin-top: 2rem;
    margin-bottom: 2rem;
   
}
.ima{
  object-fit: cover;
  height: 12rem;
}
.chan{
  display:flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
 
}

.hel{
  margin-left:30%
}